* {
    font-family: Roboto,sans-serif;
}

/* Estilos pra el encabezado */
header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
  
.logo img {
    height: 80px;
}
  
/* Estilos para la barra de navegación */
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    margin-right: 1rem;
}
  
nav a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
  
nav a:hover {
    color: #0066cc;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
  
h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

section {
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 200px;
    padding-right: 250px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
  
.cont-img {
    display: flex;
    justify-content: center; 
}

figcaption {
    display: block;
}

p {
    text-align: justify;
    line-height: 1.5;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 24px;
}

/* Estilos para el footer */
footer {
    background-color: rgba(216, 108, 42, 0.934);
    padding: 30px 0;
    text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-links-container a {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  color: #333;
}

.links-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-container ul li {
  margin-right: 20px;
}

.links-container ul li:last-child {
  margin-right: 0;
}

.links-container ul li a {
  text-decoration: none;
  color: #333;
}

.links-container ul li a:hover {
  text-decoration: underline;
}