/* Estilos para el formulario */
#registrationForm {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.welcomeSection {
  text-align: center;
}

.welcomeHeading {
  font-size: 24px;
  margin-bottom: 10px;
}

.userNameLabel {
  font-weight: bold;
}

.titleSection {
  text-align: center;
  margin-top: 20px;
}

.formTitle {
  font-size: 20px;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.leftColumn,
.rightColumn {
  width: 48%;
}

.leftColumn label,
.rightColumn label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.leftColumn input,
.rightColumn input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 12px;
}

.submitButtonDiv {
  text-align: center;
  margin-top: 20px;
}

.submitButtonDiv input[type="submit"] {
  padding: 10px 20px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.submitButtonDiv input[type="submit"]:hover {
  background-color: #004499;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .formContainer {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
  }
}
